$primary: Maroon;
$body-bg: black;
$body-color: white;
$card-bg: DimGray;

@import '~bootstrap/scss/bootstrap.scss';

h2 {
    text-align: center;
    margin: 20px 0;
}

.list-group-item {
    background-color: $card-bg;
}

Form {
    background-color: $card-bg;
    margin: 20px 0;
    padding: 20px;
    border-radius: 2%;
     Button {
        margin: 10px;
     }
}

.navbar a {
    color: white;
}